In [1]:
from utils import *

In [2]:
# all the data for analysis
df_experiments

  mouse_id  trial_id area
0    ek045     34941  CA1
1    ek045     34948  CA1
2    ek154     37231  CA1
3    ek154     37266  CA1
4    ek293     40072  CA3
5    ek293     40161  CA3
6    ek339     41169  CA1

In [ ]:
for index, row in df_experiments.iterrows():
    print(f"Mouse: {row['mouse_id']}, Trial ID: {row['trial_id']}, Area: {row['area']}")
    
    # Lets read
    mouse = Mouse.from_database(
        trial_id=row['trial_id'],
        mouse_name=row['mouse_id'],
        expt_class=ImagingExperiment
    ) # returns df
    expt = mouse[0] # df
    bd_exp = expt.format_behavior_data() # dict
    # for key in bd_exp.keys(): print(key)
    
    # Get or Make ICRWL and place maps
    ICRWL = get_or_make_ICRWL(expt, bd_exp)
    place_maps, smooth_place_maps = get_or_make_place_maps(expt)

Mouse: ek045, Trial ID: 34941, Area: CA1
ICRWL.h5 is successfully loaded
place_maps.pkl is successfully loaded
Mouse: ek045, Trial ID: 34948, Area: CA1
ICRWL.h5 is successfully loaded
place_maps.pkl is successfully loaded
Mouse: ek154, Trial ID: 37231, Area: CA1
ICRWL.h5 is successfully loaded
place_maps.pkl is successfully loaded
Mouse: ek154, Trial ID: 37266, Area: CA1
ICRWL.h5 is successfully loaded
place_maps.pkl is successfully loaded
Mouse: ek293, Trial ID: 40072, Area: CA3
ICRWL.h5 is successfully loaded
place_maps.pkl is successfully loaded
Mouse: ek293, Trial ID: 40161, Area: CA3
ICRWL.h5 is successfully loaded
place_maps.pkl is successfully loaded
Mouse: ek339, Trial ID: 41169, Area: CA1
ICRWL.h5 is successfully loaded
place_maps.pkl is successfully loaded